<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us Page</title>
</head>
<body>
    <h2>About us page</h2>
    <p>BLueI is a personal sanctuary for those who appreciate the hidden beauty in life. Here I explore everyday philosophy, minimalist design, human-centered technology, and quiet reflections.
        My goal is to create a calm, deep space with words — a place where readers can step away from the noise of the world, even for a moment.
    </p>
</body>
</html>